<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>Painting Artworks</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Painting Artworks</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Creators</a></li>
        <li><a href="/painting">Painting</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent">
    <div class="search-wrapper">
      <div class="input-holder">
        <form action="/creators" >
          <input type="search" name="search" id="search" class="search-input" >
        </form>
        <button class="search-icon" onclick="searchToggle(this, event);"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <span class="close" onclick="searchToggle(this, event);"></span>
    </div>
    
    <div class="movies" id="movies">
      <% if(data.length > 0){ %>
        <% data.forEach(function(item) { %>
        <div class="movie-item">
          <div class="movie-item__header">
              <img class="movie-item__header__poster" alt="${movie.title}"
                  src="<%= item.img_url %>">
          </div>
          <h3 class="titleCard"><%= item.nama %></h3>
          <button type="button" class="btn btn-modal"  id="detailData" data-id="<%= item.subject %>">
            See Detail
          </button>
        </div>
        <% }); %> 
      <%} else{ %>
        <h1>empty</h1>
      <% } %>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id="imgDetail" style="display: block; margin: 0 auto;">
            <table>
              <tr>
                <td>Nama</td>
                <td style="padding: 10px;">:</td>
                <td id="modalNama"></td>
              </tr>
              <tr>
                <td>Tanggal Lahir</td>
                <td style="padding: 10px;">:</td>
                <td id="modalTglLahir"></td>
              </tr>
              <tr>
                <td>Tanggal Wafat</td>
                <td style="padding: 10px;">:</td>
                <td id="modalTglWafat"></td>
              </tr>
              <tr>
                <td>Daerah Asal</td>
                <td style="padding: 10px;">:</td>
                <td id="modalDaerah"></td>
              </tr>
              <tr>
                <td>Hasil Lukisan</td>
                <td style="padding: 10px;">:</td>
                <td id="modalNamaLukisan"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script
			  src="https://code.jquery.com/jquery-3.6.0.js"
			  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			  crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</body>
</html>